# general patterns
*.cache
*.directory
*.pyc
*.swp

# files
alembic.ini
config/settings.py
db/dev.db
db/pydeo.db

# folders
_build
__pycache__
bin
build
files/music
files/movies
files/series
include
lib/python2.7
lib/python3.3
local
man
