# general patterns
*.cache
*.directory
*.pyc
*.swp

# files
alembic.ini
config/settings.py
db/dev.db
db/pydeo.db

# folders
_build
__pycache__
bin
build
files/audio
files/video
include
lib/python3.3
local
man
