# general patterns
*.cache
*.directory
*.pyc
*.swp
env/*
!env/.keep

# files
alembic.ini
pydeo/config/settings.py
pydeo/db/dev.db
pydeo/db/pydeo.db

# folders
_build
__pycache__
bin
build
files/music
files/movies
files/series
include
lib/python2.7
lib/python3.3
local
man
